
// Colors
$seaserpent: #59C3C3;
$gunmetal: #2B293D;
$isabelline: #EBEBEB;
$pastelgray: #CAD2C5;
$darkseagreen: #84A98C;

// Styles
body {
  background: $isabelline;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Share Tech Mono';
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Calculations {
  background-color: $pastelgray;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  width: 22em;
}

.Calculator {
  height: 30em;
  width: 22em;
}

// Display
.Display {
  background: $gunmetal;
  color: $seaserpent;
  text-shadow: 0 0 5px rgba($seaserpent, .5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 29px;
  box-sizing: border-box;
  height: 20%;
  overflow: hidden;
  font-size: 24px;
  position: relative;
}


// Button
.Buttons { display: flex; flex-wrap: wrap; flex-direction: column; height: 80%; }
.Button {
  // background: $pastelgray;
  background: rgb(202,210,197); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(202,210,197,1) 0%, rgba(171,181,170,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(202,210,197,1) 0%,rgba(171,181,170,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(202,210,197,1) 0%,rgba(171,181,170,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cad2c5', endColorstr='#abb5aa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(black, .05);
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 24px;
  color: rgba(black, .5);
  height: 20%;
  min-width: 25%;

  &[data-size="2"] {
    height: 40%;
  }

  &[data-value="null"] {
    pointer-events: none;
  }

  &:hover {
    background: lighten($pastelgray, 5);
    cursor: pointer;
  }

  &:active {
    background: darken($pastelgray, 5);
  }
}
